@font-face {
    font-family: "inter";
    src: url(assists/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    font-family: "inter";
}

.hdr {
    width: 100%;
    height: 100px;
    /* background-color: #000000; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.srchbrdrpd {
    width: 40%;
    height: 100%;
    background-color: rebeccapurple;
}

.logo {
    width: 20%;
    height: 100%;
    background-color: aqua;
}

.drpdwns {
    width: 40%;
    height: 100%;
    color: brown;
}

.hmimg {
    width: 100%;
    height: 640px;
    background-image: url("assists/images/artimis.webp");
    background-size: cover;
}

.hmimg1 {
    width: 100%;
    height: 640px;
    background-color: #1b1b1d85;
}

.hmcntnt {
    width: 50%;
    height: 50%;
    color: #ffffff;
}

.h272 {
    font-size: 60px;
    margin: 0px auto 0px;
}
.sabtn{
    width: 245px;
    height: 46px;
    font-size: 22px;
    background-color: #d83933;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}
.hmclnks{
    width: 80%;
    height: 83px;
    /* background-color: green; */
    margin: 60px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lnk1>h2{
    font-size: 16px;

}
.lbl{
    font-size: 11.2px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.hmcntntnlnk{
    width: 80%;
    height: 75%;
    /* background-color: yellow; */
    position: relative;
    top: 220px;
    display: flex;
    flex-direction: column;
}
span{
    color: #ffffff;
}
.featurednews {
    margin: 0px auto;
    background-color: grey;
    width: 80%;
    height: 110vh;

}

.news {
    width: 100%;
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.box1 {
    width: 50%;
    height: 400px;
    background-color: black;
    background-image: url(assists/images/curiosityrover.webp);
    background-size: cover;
}

.box2 {
    width: 20%;
    height: 400px;
    background-color: red;
    background-image: url(assists/images/leaderofspacetechnology.webp);
    background-size: cover;
}

.box3 {
    width: 20%;
    height: 400px;
    background-color: yellow;
}

.box3>div {
    width: 100%;
    height: 192px;
}

.article {
    width: 100%;
    height: 11.111vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
}

.min1,
.min2,
.min3,
.min4 {
    display: flex;
    flex-direction: row;
}

.circle1,
.circle2,
.circle3,
.circle4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: brown;
}

.atrcl1,
.atrcl2,
.atrcl3,
.atrcl4 {
    width: 190px;
    height: 80px;
    background-color: chocolate;
}

.vdo {
    width: 100%;
    height: 880px;
}

.datatolife {
    width: 47%;
    height: 370px;
}

/* Style the video: 100% width and height to cover the entire window */
.myvideo {
    width: inherit;
    height: inherit;
}

#myVideo {
    width: 100%;
    height: 880px;
    min-width: 50%;
    min-height: 50%;
}

/* Add some content at the bottom of the video/page */
.content {
    background: transparent;
    color: #f1f1f1;
    width: 50%;
    height: 370px;
    position: relative;
    bottom: 600px;
    left: 70px;
}

.vdo>.myvideo>.content>h2 {
    font-size: 80px;
}

.vdo>.myvideo>.content>p {
    font-size: 18px;
    font-family: sans-serif;
}

.vdo>.myvideo>.content>a {
    color: white;
    font-size: 23px;
    text-decoration: none;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.rth {
    width: 100%;
    height: 406px;
    background-color: blue;
    margin-bottom: 20px;
}

.picbtn {
    width: 100%;
    height: 406px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picbtn1 {
    width: 23%;
    height: 406px;
    background: url('assists/images/earth.jpg');
    background-size: cover;
}

.picbtn2 {
    width: 23%;
    height: 406px;
    background: url('assists/images/exploreearthscience.jpg');
    background-size: cover;
}

.picbtn3 {
    width: 23%;
    height: 406px;
    background: url('assists/images/climatechange.webp');
    background-size: cover;
}

.picbtn4 {
    width: 23%;
    height: 406px;
    background: url('assists/images/climatechangemultimedia.webp');
    background-size: cover;
}

.eplo {
    width: 100%;
    height: 880px;
    background-color: green;
    background: url('assists/images/earthinformationcenter.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.imageoftheday {
    width: 100%;
    height: 532px;
    margin-top: 20px;
    padding: 16px 0px 16px;
    /* background-color: crimson; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imageoftheday1 {
    width: 35%;
    height: 532px;
    /* background-color: gray; */
}

.imageoftheday2 {
    width: 50%;
    height: 34rem;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
}

.imageoftheday>.imageoftheday1>.label {
    font-family: "dm-mono";
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1em;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.imageoftheday>.imageoftheday1>h2 {
    margin: 0px auto;
    font-size: 2.562rem;
}

.imageoftheday>.imageoftheday1>p {
    line-height: 1.65em;
    font-size: 1rem;
}

.imageoftheday>.imageoftheday1>h4 {
    font-size: 22px;
}

.mrimg {
    width: 90%;
    height: 440px;
    margin: 0px auto;

}

.moreimages {
    width: 100%;
    height: 18rem;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moreimages-box1 {
    width: 33%;
    height: 17.5rem;
    background-color: yellow;
}

.moreimages-box1 {
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    height: 195px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img1 {
    width: 63%;
    height: 100%;
}

.img2 {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img2-1 {
    width: 100%;
    height: 48%;
}

.label {
    font-size: 0.8rem;
    font-weight: bold;
    color: #77777a;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.aboutnasa {
    width: 100%;
    height: 537px;
    display: flex;
    flex-direction: row;
    background-color: green;
}

.aboutnasa>.aboutnasa-cnt {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: red;
}

.aboutnasa>.aboutnasa-img {

    width: 45%;
    height: 70%;
    background-color: blue;
}

.aboutnasa-img {
    display: flex;
    flex-direction: column;


}


.hds-caption-text {
    font-size: .75rem;
    line-height: 1.25rem;
    display: block;
    width: 100%;
    text-align: left;
}

.lazy {
    width: 100%;
    height: 620px;
    color: #ffffff;
    background-color: pink;
    background: url("assists/images/webb-tarantula-neb.webp");
    background-size: cover;
}

.inbox {
    width: 30%;
    height: 100%;
    position: relative;
    top: 150px;
    left: 100px;
}

.inbox>h2 {
    font-size: 56px;
    font-family: "Public Sans Web", ;
}

.moretopic {
    width: 100%;
    height: 74rem;
    background-color: green;
}

.moretopic-box {
    width: 85%;
    height: 90%;
    margin: 0px auto;
    background-color: blanchedalmond;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.moretopic>div>h2 {
    font-size: 40px;
    font-family: "inter";
    position: relative;
    left: 8%;
}

.moretopic-box1,
.moretopic-box2,
.moretopic-box3,
.moretopic-box4,
.moretopic-box5,
.moretopic-box6,
.moretopic-box7,
.moretopic-box8 {
    width: 23%;
    /* height: 445px; */
    height: 45%;
    background-color: yellow;
}

.moretopic-box1 {
    background: url(assists/images/missions.webp);
    background-size: cover;
}

.heading2 {
    color: #ffffff;
    font-size: 28, px;
    font-family: "inter";
    position: relative;
    top: 85%;
    left: 5%;
}

.moretopic-box2 {
    background: url(assists/images/topic-humans-in-space.webp);
    background-size: cover;
}

.moretopic-box3 {
    background: url(assists/images/climatechange.webp);
    background-size: cover;
}

.moretopic-box4 {
    background: url(assists/images/solar-system-illustration-16x9-1.webp);
    background-size: cover;
}

.moretopic-box5 {
    background: url(assists/images/universe.webp);
    background-size: cover;
}

.moretopic-box6 {
    background: url(assists/images/sciencenews.webp);
    background-size: cover;
}

.moretopic-box7 {
    background: url(assists/images/aero-topic-card.webp);
    background-size: cover;
}

.moretopic-box8 {
    background: url(assists/images/nasa_technology1.webp);
    background-size: cover;
}

.circle {
    fill: red;
    /* Example color for the circle */
}

.arrow {
    fill: #FFFFFF;
    /* Example color for the path */
}